/* Fonts */

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}


/* Base */

body {
  max-width: 30em;
  margin: 0 auto;
  padding: 0.5em 2em;
  background-color: #eee;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 1em;
}

h1 {
  margin: 0;
  padding: 0.5em;
  color: #333;
  font-size: 1.2em;
}

h3 {
  margin: 1em 0 0.25em 0;
  padding: 0;
  color: #333;
  font-size: 1em;
}

a {
  color: #666;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0.5em;
}


/* Header */

h1 a {
  color: #333;
  text-decoration: none;
}

h1 span.tld {
  color: #666;
}


/* Tools */

#refresh, #share {
  float: right;
  padding-top: 0.6em;
}

#share-link, #refresh-text, #locate-link {
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

#share {
  margin-right: 8px;
  opacity: 0.6;
}

#share:hover {
  opacity: 0.8;
}

#share-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIE1hY2ludG9zaCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoyRThEQjk3OUU1MDIxMUUyOUUyMjk0MkQyOUI4NUMxOCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoyRThEQjk3QUU1MDIxMUUyOUUyMjk0MkQyOUI4NUMxOCI%2BIDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjAzODNFMTMyRTUwMDExRTI5RTIyOTQyRDI5Qjg1QzE4IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjJFOERCOTc4RTUwMjExRTI5RTIyOTQyRDI5Qjg1QzE4Ii8%2BIDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY%2BIDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8%2BSG2wnQAAAhFJREFUeNrsmU0oRFEUx70xY3wslLJTsrC1UVbkO8kIxcZGKDuJna2sUBbKipqShVH2SNIMIcoCCyXKYhayIVJi%2FG%2FdV6%2FJ3Hfu8z7u1D3128y98%2Bb%2Fr3POffeMkclkCvI5QgV5HtqANqANaAPBRpiyyTAMr35%2FALRwHadgE%2FyYi6Qzim2yw6PoA4fgE3yBczAmrS0gA4tMXw62VTfQLRBvMqOygTuCAZZWwxRtoQCaRi1hXxS0qthGayT2FqpkIAJmwZXEd25Iu3yogWnwQsh7K2ug3OsiLgKlAuHj4FFSOOOBP9uzLsQOoBR4Ax%2Fggos1Y8im06zwQp4H75bPv0Hc%2BnbghYElgbAE2BWsx%2F8o4hLQxF8nKhylt4SBHgfpwNgBdU6Kx00DXeBWUvgBaPhP9btpYFVCOKuPdjd6L0VbmPisYonfbVTxQpMEz8S9KZ5y%2FgQxhSL8DVGmBo5Bryo1YMaJgy7EzomYQGcVqPbLAIsFfoBZRS6DfhuDl2DQ8pzJrAPvCcz5dSMrA82gDVRmrcV4%2BuQysge2BOtJVW5kdkZEsNeMiCo3sg5wJGmATSYmVLtSdkoaWVftSrnP64YahpsHmZuRphwBfE6k5GBrhJA%2BrFVHVR5sJQTiz%2FJhMsdiCtxbhKd5%2B5TKDoMi0MPh7iio5yOUa7ABXmWGu4b%2Bl1Ib0Aa0AW1AG9AGAoxfAQYAy7CBqEIOvNIAAAAASUVORK5CYII=");
  background-position: 0px 50%;
}

#refresh-text {
  padding: 5px 10px;
  padding-left: 28px;
  font-size: 0.9em;
  background-color: #ccc;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIE1hY2ludG9zaCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowMzgzRTEyQ0U1MDAxMUUyOUUyMjk0MkQyOUI4NUMxOCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowMzgzRTEyREU1MDAxMUUyOUUyMjk0MkQyOUI4NUMxOCI%2BIDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjAzODNFMTJBRTUwMDExRTI5RTIyOTQyRDI5Qjg1QzE4IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjAzODNFMTJCRTUwMDExRTI5RTIyOTQyRDI5Qjg1QzE4Ii8%2BIDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY%2BIDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8%2BjY%2FJYgAAAjZJREFUeNrsmEsoRUEYxx0heYcsZOFxWSghb7FRlKQkoayUUiwpGxtrFAspZSGysrIgyULkmWKj2HjlppRX8q7rPzXqNM09557pjEt9U7%2B655x7ZuZ3zsw33xzD5%2FOF%2FOdikAAJkAAJkAAJkAAJaBQwDEOl3grQBHJBMvgCXrAPFsB5oBXZPmD2BysclGjQC05YtTasgLJABSz756JARQAdFxn%2FCwIJpt%2BTChIbwRLIBLO8E1Wm8xfgHvSBapAGMkADGAV3Eoml3xSIlzzpIdN11uEkq7gAViUSXboF2CSd8TMMdhQi1YRQxxOI1SFQy6OG3VhOVZDYEuoYcCoQGkAjj%2BCUPyGrUqMgMCwctzmuweEcqAQvft7AvOJiem31Jt14A%2BayB979XCtVFNgVjrOd3OxUwCPE%2FTXQDV5BFk8d7AoLqR2mtr3C9USdAnHCMRtOUyAK9PMQa1eewRz4BPUgUlKntjngEcbrluKwObCIZuk658Alj0o%2FpRDEKAisW1xL1%2FkGQiRrQouCQJ3NmnIGBkG%2BjlSiU2jsSEEgAjzYSByCZl3J3JXQ2LSCxKKfjm%2BCAt3ZaLuk4WWbDocLUapHuH8b5P1mOr0gkWCp8ggo4qE1kmenreAY3HARc0Rj28zyYG1o1izG8CuPWOL5WSEshwV7RzatsAtrdC1KurQnLpGkxjI%2BwBhIcUvA7c8qxXxdyOE5TRhPHW754sVSiDen6xR9mSMBEiABEiABEiABEpCXbwEGADl9Y9M7JSWgAAAAAElFTkSuQmCC");
  background-position: 3px 50%;
  opacity: 0.8;
  cursor: pointer;
}

#refresh-text.dimmed {
  padding-left: 10px;
  background-color: #ddd;
  background-image: none;
  opacity: 0.5;
  cursor: default;
}

#locate {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 7px;
  right: 7px;
}

#locate-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIE1hY2ludG9zaCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowMzgzRTEzMEU1MDAxMUUyOUUyMjk0MkQyOUI4NUMxOCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowMzgzRTEzMUU1MDAxMUUyOUUyMjk0MkQyOUI4NUMxOCI%2BIDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjAzODNFMTJFRTUwMDExRTI5RTIyOTQyRDI5Qjg1QzE4IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjAzODNFMTJGRTUwMDExRTI5RTIyOTQyRDI5Qjg1QzE4Ii8%2BIDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY%2BIDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8%2BurCJggAAAyRJREFUeNrsWUtoFEEQ3Vk%2FkcVPEjV%2BAgrmIGqi4mcVReJFBfEi4kEvERUkR8lVcggePfkL6D0nUUFBg540CkYPJhEFUSIhmkRJFDW6GpO1GmqgrfR3tnt2hCl4LL3TU1Vvpru6qiYoFouZ%2F1mClEBKwDOBIAhsddYD1gDqADWAGYBRwBvAa8AzG2XaB8wmqGAhOwDnAL2An0w1wQQSaAfssyGg9M8BgYOAboHDOrwCnCongYWAaxEcp%2BgCrI6bwFbAmMKpp4AhbvwV8AQwrrjnUFwEdkkcYA63AJbjvE7u2gD%2BtwBwHPBSouOYbwIrJYYvAirI3Mfc9Y8soJHrZyS6Gn0S6BcYbJIss0fcnBHAbMGcRkm0mu%2BDwFmBsaOKTd7LzStICDDZJtB7yzWBxQIjlzUR8D7gO6JfQYBJs0D%2FJpcE6NP%2FYnA%2B5ADzEHMN5vcQG7ddEWCb7wNR3uIhrdlLbPwBVLsgsJ0ongJUesrNhomtEzr%2FsgZKN5Nxp%2BESiiIdGtvTZKaB0nWCbPMBIMvF9s%2BYE01YOHsVsJYbTwKWkDl1pWd7%2F56oKlRYPu1BA519LpZQzmDObzRoI99c2DZZQgWB4SmSGnyKsN6HuLwpFBogCi6W0BXyWu9ilZUjsJU55H42vkRs3dP5Z%2FIGXpDxTtxwP0qMOKKnu5uM3%2BqUmOyBbjJmp%2BoRDyF0A4lKGaP62WAJZUlxUsTa1rXcITYmXZ3ETNoEIe60xqF2LBe7MLucpZi7R6D%2FpstkrkoSp%2FMKp94ZnhM1ki5GQxz1wC8FCZOCplZA1Es9EMqI5E2cjEDgABb7In2LfBHIK479h4D9JOkLrw2SBtgNhZ4m312JVk3%2BwiLUBfwN%2F2OtxfPYblHd2xFXX%2Bi6g4bWtMQt7s7cc4fOj2LpGSuBHB71pTrPQuiqcjV3qwVloC3Wl7s7vbQEEvkktNeZLDOssPju25akfB%2Fgm18Dhs5vTNIHDl4q8VOSzPlxbApkkkogjE59AufHjLoMCSCQwbynh8T5FVEUlYtAWAgNY6FeG1WJi5o4qjDHD2Nm%2BT790J0SSAn4kb8CDAAKbOM95jBtfwAAAABJRU5ErkJggg==");
  opacity: 0.5;
}

#locate-link:hover {
  opacity: 0.8;
}

#delete {
  display: none;
  padding: 0.5em 1em;
  color: #f00;
  background-color: #fee;
  font-weight: bold;
  text-align: center;
  opacity: 0.6;
}

#delete.hovered {
  color: #fee;
  background-color: #f00;
  opacity: 1.0;
}


/* Messages */

#error, #warning {
  display: none;
  padding: 0.5em;
  color: #333;
  background-color: #fcc;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}

#warning {
  background-color: #ffd;
}


/* Footer */

#footer {
  margin: 1em 0;
  color: #666;
  font-size: 0.8em;
}

#footer p {
  margin: 0.5em 0;
  padding: 0;
  text-align: center;
}


/* Input form */

#nav {
  display: none;
  position: relative;
  background-color: #fff;
}

#add-station {
  width: 100%;
  padding: 0.5em 0;
  font-size: 1em;
  text-indent: 0.75em;
  border: none;
  outline: none;
}


/* Typeahead.js */

.twitter-typeahead, .tt-dropdown-menu, .tt-hint {
  width: 100%;
  padding: 0;
}

.tt-dropdown-menu {
  background-color: #fff;
  border-top: solid 1px #eee;
}

.tt-hint {
  display: none;
}

.tt-is-under-cursor p {
  background-color: #ffd;
}


/* Waiting for update */

span.new {
  display: none;
}


/* Active */

p.active .status {
  display: none;
}


/* Inactive */

p.inactive > span {
  opacity: 0.4;
}

p.inactive .title {
  text-decoration: line-through;
}


/* Default styles (color1) */

li p {
  color: #023;
  background-color: #acd;
}

p span, p a {
  padding: 0 0.25em;
}

.title {
  font-weight: bold;
}

.bikes, .docks {
  float: right;
  width: 2em;
  margin-left: 5px;
  opacity: 0.3;
  text-align: right;
}

.danger {
  color: #d00;
  font-weight: bold;
  opacity: 1.0;
}

.caution {
  font-weight: bold;
  opacity: 1.0;
}


/* Sortable cursor */

.ui-sortable .title {
  cursor: move;
}


/* (color2) */

.color2 {
  color: #230;
  background-color: #cda;
}


/* (color3) */

.color3 {
  color: #320;
  background-color: #dca;
}


/* (color4) */

.color4 {
  color: #032;
  background-color: #adc;
}


/* (color5) */

.color5 {
  color: #302;
  background-color: #dac;
}


/* (color6) */

.color6 {
  color: #111;
  background-color: #ddd;
}

/* (suggestion) */

.suggestion {
  color: #333;
  background-color: #fff;
}


/* Phones */

@media only screen and (max-device-width : 600px) {

  body {
    padding: 0 0 0.5em 0;
  }

  #refresh {
    margin-right: 0.5em;
  }

}
