<p class="station <%= color %> <%= flags.station %>" data-oid="<%= id %>">
  <span class="title"><%= title %></span>
  <span class="availability">
    <span class="bikes <%= flags.bikes || 'new' %>"><%= (available.bikes < 10) ? '0' : '' %><%= available.bikes %>●</span>
    <span class="docks <%= flags.docks || 'new' %>"><%= (available.docks < 10) ? '0' : '' %><%= available.docks %>○</span>
  </span>
  <% if(alt) { %>
    <span class="alt"><%= alt || '' %></span>
  <% } %>
  <% if(distance) { %>
    <span class="distance"><%= distance || '' %></span>
  <% } %>
</p>
